.grid {
    justify-items: center;
}

main.column {
    padding: 2rem 1rem;
}

.grid-block {
    width: min(80%, 600px);
}

.grid-block:hover {
    border-color: var(--border-subtle);
}

.diagram {
    width: 100%;
    height: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    width: min(96%, 1800px);
    margin: 1rem 0;
}

.gallery-image {
    width: 100%;
    height: auto;

    border-radius: .75rem;

    transition: transform .3s ease;
}

.gallery-image:hover {
    transform: scale(1.02);
}

.gallery.mobile-gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


@media screen and (max-width: 900px) {
    .gallery.mobile-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery.mobile-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: .75rem;
    }
}

