.grid {
    justify-items: center;
}

.grid-block {
    width: min(80%, 600px);
}

.grid-block:hover {
    border-color: #c0c0c040;
}

.gallery {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    gap: .5rem;
    margin: .5rem;
}

.gallery-image {
    flex: 1;
    object-fit: cover;
    width: 600px;

    border: 1px solid #c0c0c040;
}

.mobile-gallery-image {
    max-width: 350px;
    border-radius: 1rem;

    border: 5px solid #c0c0c040;
}

