.clock-grid {
    position: relative; 
    justify-content: center; 
    gap: 1rem; 

    overflow: hidden;
}

.clock {
    position: absolute; 
    aspect-ratio: 1/1;     
    height: 10rem;

    top: 50%;
    right: 0;
    transform: translate(0%, -50%) rotate3d(1, -1, 0, 45deg);

    mask: linear-gradient(to right, transparent -20%, black);
}

.clock-number {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #606060;
    font-weight: 100;

    text-shadow: 1px 1px 2px black;

    position: absolute;
    transform: translate(-50%, -50%);

    z-index: -1;
}