.clock-grid {
    position: relative; 
    justify-content: center; 
    gap: 1rem; 

    overflow: hidden;
}

.clock {
    position: absolute; 
    aspect-ratio: 1/1; 
    height: 100%; 
    right: 0; 
    border-radius: 50%;
    transform: translateX(50%) rotate(210deg);
}

.clock-number {
    color: white;
    opacity: .3;

    font-weight: 600;
    position: absolute;
    transform: translate(-50%, -50%) rotate(150deg);

    z-index: -1;
}