/*
basic setup
*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

article {
    scroll-snap-align: start;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

/*
reusable classes
*/
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.orientation {
    flex-direction: column;
}

.dark-background {
    background-image: radial-gradient(circle at top left, black 60%, #505050);
    box-shadow: 5px 15px 20px #505050;
}

.separator-horizontal {
    width: 80%;
    border-bottom: .2vmin solid #fff;
    mask: linear-gradient(to left, transparent, black, transparent);
}

.separator-vertical {
    height: 80%;
    border-left: .2vmin solid #fff;
    margin: 5px;
    mask: linear-gradient(to bottom, transparent, black, transparent);

    display: none;
}


/* other classes */
.scroll-percentage-line {
    position: fixed;
    width: 100%;
    height: 1vh;
    z-index: 1000;
    top: 0;
    background-color: white;
    mask: linear-gradient(to left, transparent, black, transparent);

    scale: 0 1;
    animation: scroll-line-width linear;
    animation-timeline: scroll();
}

@keyframes scroll-line-width {
    to {
        scale: 1 1;
    }
}

.about-me-height {
    height: 100vh;
}

.about-me {
    background-color: black;
    height: 100%;
}

.project-info {
    height: 50%;
    width: 100%;
    display: flex;
    gap: 20px;

    justify-content: space-around;
}

.project-image {
    gap: 10px;
}

.project-image img {
    max-width: 100%;
    max-height: 60vh;
}

.info-text-container {
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, black, transparent 50%, black);
}

.project-area {
    gap: 50px;
    min-width: 0;
    overflow-x: clip;

    padding: 10vh;
}

.current-project-container {
    display: none;
}

.chip-row-no-animation {
    height: 5vmin;
    gap: 1vmax;
}

.chip-row-par {
    align-self: center;
    width: 100%;
    height: 5vmin;
    overflow: hidden;

    mask: linear-gradient(to right, transparent, black, transparent)
}

.chip-row {
    width: fit-content; height: 100%;
    animation: animate-chips 5s linear infinite;

    gap: 1vmax;
}

.chip {
    height: 100%;
}

.chip-light {
    background-color: white;
    border-radius: 50%;
}

@keyframes animate-chips {
    to {
        transform: translate(calc(-50% - .5vmax));
    }
}

/* font-settings */
.normal-text {
    color: #c0c0c0;
    font-size: 2vmax;
}

.bigger-text {
    color: #fff;
    font-size: 3vmax;
}

.big-text {
    color: #fff;
    font-size: 4vmax;
}

.presentation-text {
    width: 90%;
    text-align: center;
}

.about-me-text {
    text-align: justify;
    width: 95%;
}

.click-here {
    background-image: linear-gradient(to right, white, black 90%);
    animation: click-here-animation 2s ease-in alternate infinite;
    font-size: 2vmax;
    color: black;
}

@keyframes click-here-animation {
    to {
        opacity: .8;
        color: cyan;
    }
}

.click-here:hover {
    color: cyan;
    cursor: pointer;
    animation: none;
}

.opacity-animation {
    opacity: 1;

    animation: scroll-info linear;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes scroll-info {
    to {
        opacity: 0;
    }
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 1vw;
    font-size: 2vmax;
}

.text-gap {
    gap: 1rem;
}


.a-icon {
    border-radius: 1px;
    background-image: linear-gradient(to bottom right, white, #505050);
    color: #000;

    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1vmin;

    transition: 1s ease-in;
}

.button-line {
    width: 0%;
    height: 1px;

    transition: 1s ease-out;

    box-shadow: 0px 1px 1px #505050;
}

.button-line-top {
    align-self: flex-start;
    background-image: linear-gradient(to right, white, black);
    mask: linear-gradient(to right, transparent, black);
}

.button-line-bottom {
    align-self: flex-end;
    background-image: linear-gradient(to right, black, white);
    mask: linear-gradient(to left, transparent, black);
}

.animated-button:hover .button-line {
    width: 100%;
}

.animated-button:hover {
    background: rgb(0, 255, 255);
}

.pc-a {
    width: 2vw;
    height: 1vw;
    background-color: white;
}

.pc-b {
    width: 10vw;
    height: 1vw;
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.pc {
    border: 1vw solid white;
    border-radius: 5px;
}

.phone {
    border: 2px solid #c0c0c0;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.phone-menu {
    height: 10%;
    background: #a0a0a0;
    padding: 2px 0 2px 0;
}

.phone-camera {
    width: 5px;
    height: 5px;
    background-color: #303030;
    border-radius: 50%;
}



@media screen and (min-width: 768px) {
    .project-info {
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 4vh;
    }
    
    .project-image {
        margin: 5vh;
        flex: 1;
    }
    .project-image .phone {
        max-width: 100%;
    }

    .orientation {
        flex-direction: row;
    }

    .separator-vertical {
        display: block;
    }

    .full-height {
        height: 100vh;
    }

    .project-area {
        width: 95%;
        height: 95%;
    
        border-radius: 20px;
    
        gap: 20px;
        padding: 0;
    }

    .width-animation {
        width: 100%;

        animation: width-animation linear;
        animation-timeline: view();
        animation-range: exit;
    }

    @keyframes width-animation {
        to {
            width: 95%;
            border-radius: 20px;
        }
    }

    .current-project-container {
        display: flex;

        flex-direction: column;
    
        height: 100%;
        width: 2vw;
    
        position: fixed;
        right: 0;
        z-index: 10000;
    
        padding: 5px;
    
        transition: .5s ease;
    
    }
    
    .current-project-container:hover {
        width: 6vw;
        background-color: black;
        border-left: 1px solid white;
    }
    
    .current-project-container:hover .circle {
        border-color: white;
    }
    
    .current-project-container:hover .line {
        background-color: white;
    }
    
    .circle {
        width: 10px;
        height: 10px;
        border: 2px solid black;
        border-radius: 50%;
        transition: background-color 1s ease;
    }
    
    .circle:hover {
        scale: 1.1 1.1;
        cursor: pointer;
    }
    
    .current-project-container:hover .circle-active {
        background-color: #fff;
    }
    
    .circle-active {
        background-color: black;
        transition: background-color 1s ease;
    }
    
    .line {
        height: 10px;
        width: 1px;
        background-color: black;
    }
    
    .home-menu {
        color: transparent;
        text-decoration: none;
    }
    
    .current-project-container:hover .home-menu {
        color: white;
    }

    .normal-text {
        font-size: 2vmin;
    }
    
    .bigger-text {
        font-size: 3vmin;
    }
    
    .big-text {
        font-size: 4vmin;
    }

    .click-here {
        font-size: 2vmin;
    }

    .button-row {
        font-size: 2vmin;
    }

    .chip-row-par {
        width: 50%;
    }
}
