/*
setup
*/

:root {
    --theme-color: #ff00ff;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'GTA';
    src: url('./fonts/Gta/GTAArtDeco-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Satoshi';
    color: #d0d0d0;
}

a {
    text-decoration: none;
    color: #c0c0c0;
}

img {
    max-inline-size: 100%;
    display: block;
}

/*
reusable classes
*/
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
} 

.column {
    flex-direction: column;
}

.dark-linear-background {
    background-image: linear-gradient(black, #202020);
}

.height-100 {
    min-height: 100vh;
}

.grid-padding {
    padding: 1.5rem;
}

.inside-list {
    list-style-position: inside;
}

.list-no-dots {
    list-style-type: none;
}

.gap-1-rem {
    gap: 1rem;
}

/* fonts */

.soundcloud-text {
    color: transparent;
    background-image: linear-gradient(#ff5500, #ff3300);
    background-clip: text;
}

.p-small {
    font-size: .875rem;
}

h2 {
    color: white;
}

h4 {
    font-weight: 600;
}

h6, .small-light {
    font-size: .875rem;
    font-weight: 100;
    color: #a0a0a0;
}

b {
    font-weight: bold;
    color: white;
}

/* Home page grid */

.grid {     
    display: grid;

    gap: 1rem;

    width: min(95%, 70rem);
    margin: 1rem 0 1rem 0;
}

.welcome {
    overflow: hidden;
}

.short-info {
    padding: 1rem;

    justify-content: space-between;
}

.me {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--theme-color);

    opacity: .3;
}

.grid-block {
    border: 1px solid #a0a0a050;
    border-radius: 10px;

    background-color: #c0c0c010;

}

.grid-block:hover {
    border-color: var(--theme-color);
}

/* cca 768 in 1024 px breakpoints*/

@media screen and (min-width: 768px) {

    .short-info {
        flex: 2;
    }

    .me {
        position: unset;
        width: unset;
        display: flex;
        flex: 1;
        background-color: #c0c0c0;
        opacity: 1;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-col-span-3 {
        grid-column: span 3;
    }

    .grid-row-span-4 {
        grid-row: span 4;
    }

    .grid-row-span-6 {
        grid-row: span 6;
    }

    .grid-row-span-2 {
        grid-row: span 2;
    }
}


@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.color-circle {
    flex: 1;
    aspect-ratio: 1 / 1;

    max-width: 2rem;

    border-radius: 50%;

    transition: scale .1s linear;
}

.color-circle:hover {
    scale: 1.1;
    cursor: pointer;
}

.card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    filter: blur(5px) brightness(30%);
    transition: filter .1s linear;
}

.grid-block:hover .card-image {
    filter: blur(0);
}

.grid-block:hover h3 {
    color: white;
}

.grid-link-content {
    z-index: 1; 
    margin: 1.5rem; 
    flex: 1; 
    display: flex; 
    justify-content: space-between;  
    align-self: flex-start;
    align-items: center;
}

.grid-link-content .icon {
    transition: transform .1s linear;
}

.grid-block-link {
    overflow: hidden; 
    position: relative;
}

.grid-block-link:hover .icon {
    transform: translate(.5rem, -.5rem);
}

.soundbar {
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 0;

    transition: .5s ease-out;
}

.freq {
    width: .2rem;
    height: 1px;
    background-color: white;
}

.grid-block-link:hover .soundbar {
    gap: .2rem;
}

.grid-block-link:hover .freq {
    animation: freq-height-animation .2s linear alternate infinite;
    box-shadow: 1px 1px 10px #ff3300;
}

@keyframes freq-height-animation {
    to {
        height: 15px;
    }
}

.grid-block-link:hover .f1 {
    max-height: 8px;
    height: 2px;
    animation-delay: .1s;
}
.grid-block-link:hover .f2 {
    height: 10px;
}
.grid-block-link:hover .f3 {
    max-height: 10px;
    height: 5px;
    animation-delay: .15s;
}
.grid-block-link:hover .f4 {
    height: 8px;
}
.grid-block-link:hover .f5 {
    height: 10px;
    animation-delay: .15s;
}
.grid-block-link:hover .f6 {
    max-height: 10px;
    height: 4px;
}

.contact-links {
    gap: 1rem;
}

.contact-link {
    width: 3.75rem;
    height: 2rem;
    border: 1px solid #a0a0a050;
    border-radius: 5px;

    transition: border-color .1s linear;
}

.contact-link > * {
    color: white;
}

.contact-link:hover {
    cursor: pointer;
    border-color: #c0c0c0; 
}

.contact-link:hover > * {
    scale: 1.1;
}